@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-box-ize-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #252b42;
  background: #fafafa;
}

.block-10 > *:not(:last-child) {
  margin-bottom: 10px;
}

.block-15 > *:not(:last-child) {
  margin-bottom: 15px;
}

._container {
  max-width: 1045px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._text-sbold-14 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 479px) {
  ._text-sbold-14 {
    font-size: 18px;
  }
}

._text-medium-14 {
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 479px) {
  ._text-medium-14 {
    font-size: 16px;
  }
}

._text-bold-24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: inherit;
}

@media (max-width: 370px) {
  ._text-bold-24 {
    font-size: 20px;
  }
}

._text-bold-40 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: inherit;
}

@media (max-width: 767px) {
  ._text-bold-40 {
    font-size: 35px;
  }
}

@media (max-width: 479px) {
  ._text-bold-40 {
    font-size: 30px;
  }
}

._text-bold-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #737373;
}

._text-bold-16_dark {
  color: #252b42;
}

@media (max-width: 479px) {
  ._text-bold-16_dark {
    font-size: 18px;
  }
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.38;
  letter-spacing: 0.2px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  padding: 36px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    padding: 20px 10px;
  }
}

.header__logo {
  margin-right: 132px;
}

@media (max-width: 992px) {
  .header__logo {
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 479px) {
  .header__logo {
    margin-right: 30px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li:not(:last-child) {
  margin-right: 21px;
}

@media (max-width: 479px) {
  .menu__list li:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 479px) {
  .menu__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__list li:not(:first-child) {
    margin-left: 21px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 10;
  margin: -111px 0 0 0;
}

@media (max-width: 775px) {
  .page__services {
    margin: -81px 0 0 0;
  }
}

.page__who-we {
  background: #ffffff;
}

.page__contact {
  background: #f3f3f3;
}

.page__navigation {
  background: #17213c;
}

.main-block {
  position: relative;
}

.main-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 992px) {
  .main-block img {
    opacity: 0.5;
  }
}

.main-block__container {
  padding: 0 15px;
}

@media (max-width: 479px) {
  .main-block__container {
    padding: 0 10px;
  }
}

.main-block__body {
  padding: 184px 0 191px 0;
  max-width: 400px;
  position: relative;
  z-index: 10;
}

.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 150px 0;
  }
  .main-block__body > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .main-block__body {
    padding: 130px 0;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 120px 0 100px 0;
  }
  .main-block__body > *:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .main-block__title {
    font-size: 50px;
  }
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 40px;
  }
}

.main-block__subtitle {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

@media (max-width: 992px) {
  .main-block__subtitle {
    font-weight: 600;
  }
}

@media (max-width: 479px) {
  .main-block__subtitle {
    font-size: 16px;
  }
}

.main-block__buttons {
  margin: -5px 0;
}

.main-block__buttons > *:not(:last-child) {
  margin-right: 10px;
}

.main-block__buttons a {
  display: inline-block;
}

@media (max-width: 479px) {
  .main-block__buttons > *:not(:last-child) {
    margin-right: 5px;
  }
}

.main-block__btn {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: center;
  color: #0d5c63;
  border-radius: 37px;
  border: 1px solid #0d5c63;
  padding: 10px 36px;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .main-block__btn {
    padding: 15px 36px;
  }
}

@media (max-width: 479px) {
  .main-block__btn {
    padding: 15px 22px;
  }
}

.main-block__btn_orange {
  color: #ffffff;
  background-color: #ff7b47;
  border: none;
}

.services__container {
  padding: 15px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px 0;
}

@media (min-width: 775px) {
  .services__body {
    margin: 0 -10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 955px) {
  .services__body {
    margin: 0 -15px;
  }
}

.services__column {
  padding: 10px 0;
}

@media (min-width: 775px) {
  .services__column {
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
  }
}

@media (min-width: 955px) {
  .services__column {
    padding: 0 15px;
  }
}

.services__item {
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
}

.services__item > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 955px) {
  .services__item {
    padding: 25px 25px;
  }
}

@media (max-width: 775px) {
  .services__item {
    padding: 35px 40px;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 479px) {
  .services__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services__item_blue {
  background: #0d5c63;
}

.services__icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.services__icon img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 479px) {
  .services__block {
    text-align: center;
  }
}

.services__block_blue > * {
  color: #ffffff;
}

.advantages__container {
  padding: 80px 15px;
}

@media (max-width: 767px) {
  .advantages__container {
    padding: 70px 15px;
  }
}

@media (max-width: 479px) {
  .advantages__container {
    padding: 50px 10px;
  }
}

.advantages__block {
  margin-bottom: 50px;
}

.advantages__block > * {
  text-align: center;
}

.advantages__block p {
  max-width: 510px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .advantages__block {
    margin-bottom: 40px;
  }
}

@media (max-width: 479px) {
  .advantages__block {
    margin-bottom: 20px;
  }
}

.body-advantages__columns {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 479px) {
  .body-advantages__columns {
    margin: 0 -10px;
  }
}

.body-advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 30px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .body-advantages__item {
    padding: 30px 30px;
  }
}

@media (max-width: 767px) {
  .body-advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 25px 30px;
  }
}

@media (max-width: 479px) {
  .body-advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.body-advantages__icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.body-advantages__icon img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-advantages__block > * {
  text-align: center;
}

.advice__container {
  padding: 80px 15px;
}

@media (max-width: 992px) {
  .advice__container {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .advice__container {
    padding: 30px 15px 50px 15px;
  }
}

.advice__block {
  max-width: 470px;
  margin: 0 auto;
  padding: 45px 0;
}

.advice__block > * {
  text-align: center;
}

@media (max-width: 767px) {
  .advice__block {
    padding: 40px 0 30px 0;
  }
}

@media (max-width: 479px) {
  .advice__block {
    padding: 10px 0 20px 0;
  }
}

.body-advice__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -15px;
}

@media (max-width: 880px) {
  .body-advice__columns {
    margin: 0 -10px;
  }
}

.body-advice__item {
  padding: 0 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .body-advice__item {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .body-advice__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 479px) {
  .body-advice__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 350px;
  }
}

.body-advice__block {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 992px) {
  .body-advice__block {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .body-advice__block {
    padding-top: 45px;
  }
}

@media (max-width: 479px) {
  .body-advice__block > * {
    text-align: center;
  }
}

.body-advice__photo {
  position: relative;
  height: 138px;
}

.body-advice__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 880px) {
  .body-advice__photo {
    height: 110px;
  }
}

@media (max-width: 767px) {
  .body-advice__photo {
    height: 138px;
  }
}

@media (max-width: 615px) {
  .body-advice__photo {
    height: 120px;
  }
}

.who-we {
  margin-bottom: 36px;
}

@media (max-width: 479px) {
  .who-we {
    margin-bottom: 0px;
  }
}

.who-we__container {
  padding: 100px 15px;
}

@media (max-width: 992px) {
  .who-we__container {
    padding: 80px 15px;
  }
}

@media (max-width: 767px) {
  .who-we__container {
    padding: 70px 15px;
  }
}

@media (max-width: 479px) {
  .who-we__container {
    padding: 60px 10px;
  }
}

.who-we__block {
  margin-bottom: 100px;
}

.who-we__block > * {
  text-align: center;
}

@media (max-width: 992px) {
  .who-we__block {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .who-we__block {
    margin-bottom: 70px;
  }
}

@media (max-width: 479px) {
  .who-we__block {
    margin-bottom: 60px;
  }
}

.who-we__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who-we__body > *:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .who-we__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who-we__body > *:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}

.who-we__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 442px;
  width: 597px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.58%, rgba(0, 0, 0, 0)), to(rgba(56, 56, 56, 0.84)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}

.who-we__video > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 651px) {
  .who-we__video {
    height: 342px;
    width: 497px;
  }
}

@media (max-width: 533px) {
  .who-we__video {
    height: 242px;
    width: 397px;
  }
}

@media (max-width: 439px) {
  .who-we__video {
    height: 200px;
    width: 297px;
  }
}

.who-we__button {
  margin: 0 auto;
  position: relative;
  width: 97.6px;
  height: 98.4px;
}

.who-we__button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 479px) {
  .who-we__button {
    width: 85px;
    height: 85px;
  }
}

.who-we__trusted {
  max-width: 340px;
}

@media (max-width: 992px) {
  .who-we__trusted {
    max-width: 550px;
  }
}

.trusted > *:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .trusted > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.trusted__block {
  padding: 20px 0;
}

@media (max-width: 992px) {
  .trusted__block > * {
    text-align: center;
  }
}

.trusted__columns > *:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 479px) {
  .trusted__columns > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .trusted__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.item-trusted {
  position: relative;
}

.item-trusted__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.item-trusted__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-trusted__block {
  margin-left: 52px;
}

.item-trusted__block > *:not(:last-child) {
  margin-bottom: 5px;
}

.newsletter__container {
  padding: 0 15px;
}

@media (max-width: 479px) {
  .newsletter__container {
    padding: 0 10px;
  }
}

.newsletter__links {
  padding: 50px 0;
  margin: 0 -10px 20px -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .newsletter__links {
    margin: 0 -10px 30px -10px;
  }
}

@media (max-width: 880px) {
  .newsletter__links {
    padding: 40px 0;
    margin: -20px -10px 5px -10px;
  }
}

@media (max-width: 495px) {
  .newsletter__links {
    padding: 20px 0 40px 0;
  }
}

.newsletter__link {
  width: 125px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 880px) {
  .newsletter__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
    padding: 20px 10px;
  }
}

@media (max-width: 495px) {
  .newsletter__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.newsletter__email {
  padding: 0 30px;
  margin-bottom: -57px;
  position: relative;
  z-index: 3;
}

@media (max-width: 767px) {
  .newsletter__email {
    margin-bottom: -50px;
  }
}

@media (max-width: 650px) {
  .newsletter__email {
    padding: 0;
  }
}

@media (max-width: 479px) {
  .newsletter__email {
    margin-bottom: -30px;
  }
}

.newsletter__block {
  background: #17213c;
  border-radius: 2px;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 911px) {
  .newsletter__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 30px;
  }
  .newsletter__block > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .newsletter__block {
    padding: 20px 20px;
  }
}

.newsletter__text {
  max-width: 266px;
  color: #ffffff;
}

@media (max-width: 911px) {
  .newsletter__text {
    max-width: 450px;
    text-align: center;
  }
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.newsletter__form > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 570px) {
  .newsletter__form {
    display: block;
    height: 58px;
    width: 450px;
    position: relative;
  }
}

.newsletter__input {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 20px;
  height: 58px;
}

.newsletter__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.newsletter__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.newsletter__input::-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

.newsletter__input::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (min-width: 570px) {
  .newsletter__input {
    height: 100%;
    padding: 0 0 0 20px;
  }
}

.newsletter__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0 22.5px;
  height: 58px;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 570px) {
  .newsletter__btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    padding: 0 22.5px;
  }
}

.newsletter__background {
  background: #252b42;
  height: 77px;
}

@media (max-width: 767px) {
  .newsletter__background {
    height: 70px;
  }
}

@media (max-width: 479px) {
  .newsletter__background {
    height: 50px;
  }
}

.contact__container {
  padding: 80px 15px;
}

.contact__container > *:not(:last-child) {
  margin-bottom: 80px;
}

.contact__block * {
  text-align: center;
}

.contact__row {
  padding: 0 32.5px;
  margin-bottom: 68px;
}

.row-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.row-contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  padding: 80px 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-contact__item > *:not(:last-child) {
  margin-bottom: 15px;
}

.row-contact__item_blue {
  background: #252b42;
}

.row-contact__item_blue * {
  color: #ffffff;
}

.row-contact__icon {
  width: 72px;
  height: 72px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-contact__icon img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-contact__contact {
  text-align: center;
}

.row-contact__contact a {
  color: #252b42;
}

.row-contact__contact_blue a {
  color: #ffffff;
}

.row-contact__btn a {
  display: inline-block;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ff7b47;
}

.row-contact__btn_blue a {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.contact-mini__container {
  padding: 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .contact-mini__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 15px;
  }
  .contact-mini__container > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-mini__block {
  max-width: 500px;
}

@media (max-width: 767px) {
  .contact-mini__block * {
    text-align: center;
  }
}

.contact-mini__btn {
  padding: 0 38px;
}

.contact-mini__btn a {
  display: inline-block;
  padding: 15px 40px;
  background: #ff7b47;
  border-radius: 5px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 767px) {
  .contact-mini__btn {
    padding: 0;
  }
}

.navigation__container {
  padding: 50px 15px;
}

.navigation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -30px 0;
}

.navigation__body > *:not(:last-child) {
  margin-right: 30px;
}

.navigation__block {
  width: 150px;
  padding: 30px 0;
}

.navigation__block_contact {
  width: 300px;
}

.navigation__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 20px;
}

.navigation__links > *:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__contact > *:not(:last-child) {
  margin-right: 10px;
}

.navigation__contact p {
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.navigation__link {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.navigation__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
}

.navigation__icon img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__container {
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 479px) {
  .footer__container {
    padding: 15px 10px;
  }
}

.footer__right {
  text-align: center;
  font-size: 14px;
}

.footer__social {
  margin: 0 40px;
  width: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  display: inline-block;
  height: 24px;
  width: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
